<div class="w-screen flex justify-center items-center font-body">
  <div class="w-11/12 lg:w-5/12">
    <div class="flex w-full space-x-2">
      <div
        class="flex justify-start items-center bg-input px-4 py-2 rounded-md lg:rounded-full bg-opacity-20 backdrop-blur-md border border-input2 space-x-2 w-full"
      >
        <span class="material-symbols-rounded text-input2 text-md">
          location_on
        </span>
        <input
          type="text"
          class="bg-transparent w-full placeholder:text-white outline-none text-xs lg:text-sm text-input2"
          placeholder="search for a particular location"
        />
      </div>
      <button
        class="bg-black text-sm lg:text-md text-white py-3 px-5 rounded-md"
      >
        Search
      </button>
    </div>
    <div
      class="flex flex-col w-full mt-5 bg-white bg-opacity-10 backdrop-blur-md py-4 px-6 lg:py-6 lg:px-10 border border-white rounded-xl space-y-2"
    >
      <h3 class="font-semibold text-indigo-500 text-lg">Accra, Ghana</h3>
      <p class="text-white text-xs font-normal">Chance of rain: 20%</p>
      <div
        class="flex justify-between lg:justify-start lg:space-x-20 items-center py-6"
      >
        <p class="text-6xl lg:text-8xl font-bold text-white">57 °F</p>
        <span class="material-symbols-rounded text-6xl lg:text-8xl">
          cloudy_snowing
        </span>
      </div>
      <div class="bg-dark rounded-md text-input2 py-6 px-9">
        <div class="text-white font-bold text-md">Air Condition</div>
        <div
          class="flex flex-wrap space-y-3 lg:space-y-0 items-center w-full mt-5 text-white"
        >
          <app-details
            iconName="device_thermostat"
            title="Real Feel"
            description="30 °F"
            class="w-2/4 lg:w-1/4"
          ></app-details>

          <app-details
            iconName="air"
            title="Wind"
            description="0.2 km/h"
            class="w-2/4 lg:w-1/4"
          ></app-details>
          <app-details
            iconName="brightness_low"
            title="UV Index"
            description="2"
            class="w-2/4 lg:w-1/4"
          ></app-details>
          <app-details
            iconName="water_drop"
            title="Chance of Rain"
            description="33 %"
            class="w-2/4 lg:w-1/4"
          ></app-details>
        </div>
      </div>
    </div>
  </div>
</div>
