<div class="w-screen flex justify-center items-center font-body">
  <div class="w-11/12 lg:w-5/12">
    <div class="flex w-full space-x-2">
      <div
        class="flex justify-start items-center bg-input px-4 py-2 rounded-md lg:rounded-full bg-opacity-20 backdrop-blur-md border border-input2 space-x-2 w-full"
      >
        <span class="material-symbols-rounded text-input2 text-md">
          location_on
        </span>
        <input
          type="text"
          class="bg-transparent w-full placeholder:text-white outline-none text-xs lg:text-sm text-input2"
          placeholder="search for a particular location"
          [(ngModel)]="location"
        />
      </div>
      <button
        class="bg-black text-sm font-semibold lg:text-md text-white py-3 px-5 rounded-md hover:bg-white hover:text-black transition duration-300 ease-in-out"
        (click)="reSearch()"
      >
        Search
      </button>
    </div>
    <div
      class="flex flex-col w-full mt-5 bg-white bg-opacity-10 backdrop-blur-md py-4 px-6 lg:py-6 lg:px-10 border border-white rounded-xl space-y-2"
    >
      <div class="flex justify-between">
        <div>
          <h3 class="font-semibold text-indigo-500 text-lg">
            {{ current.location.name }}, {{ current.location.country }}
          </h3>
          <p class="text-white text-xs font-normal">
            Chance of rain:
            {{ current.forecast.forecastday[0].day.daily_chance_of_rain }}%
          </p>
        </div>
        <div class="flex h-fit rounded-md text-xs font-semibold">
          <div
            class="bg-white text-dark p-2 rounded-l-md hover:cursor-pointer hover:opacity-80"
          >
            °C
          </div>
          <div
            class="bg-dark text-white p-2 rounded-r-md hover:cursor-pointer hover:opacity-80"
          >
            °F
          </div>
        </div>
      </div>
      <div
        class="flex justify-between lg:justify-start lg:space-x-20 items-center py-6"
      >
        <p class="text-6xl lg:text-8xl font-bold text-white">
          {{ current.current.temp_c }} °C
        </p>
        <span class="material-symbols-rounded text-6xl lg:text-8xl">
          cloudy_snowing
        </span>
      </div>
      <div class="bg-dark rounded-md text-input2 py-6 px-9">
        <div class="text-white font-bold text-md">Air Condition</div>
        <div
          class="flex flex-wrap space-y-3 lg:space-y-0 items-center w-full mt-5 text-white"
        >
          <app-details
            iconName="device_thermostat"
            title="Real Feel"
            description="{{ current.current.feelslike_c }} °C"
            class="w-2/4 lg:w-1/4"
          ></app-details>

          <app-details
            iconName="air"
            title="Wind"
            description="{{ current.current.wind_kph }} kph"
            class="w-2/4 lg:w-1/4"
          ></app-details>
          <app-details
            iconName="brightness_low"
            title="UV Index"
            description="{{ current.current.uv }}"
            class="w-2/4 lg:w-1/4"
          ></app-details>
          <app-details
            iconName="water_drop"
            title="Humidity"
            description="{{ current.current.humidity }} g/m3"
            class="w-2/4 lg:w-1/4"
          ></app-details>
        </div>
      </div>
    </div>

    @if(myError){

    <div
      class="animate-pulse flex flex-col w-full mt-5 bg-red-600 bg-opacity-10 backdrop-blur-md py-4 px-6 lg:py-6 lg:px-10 border border-red-600 text-red-600 rounded-xl space-y-2"
    >
      {{ myError }}
    </div>
    }
  </div>
</div>
